{{# partial "header" }}
    <div class="center">
        <div class="column-left">{{{title}}}</div>
        <div class="column-right login">{{#if user.name}}Welcome {{user.name}}{{else}}You are not logged in{{/if}}</div>
    </div>
    <div class="clear-div"></div>
{{/partial}}

{{# partial "menu" }}
    {{embedded "menu"}}
{{/partial}}

{{# partial "footer" }}
    <div class="center footer">
        <div class="column-center">
            <span class="heading">Maersk Group</span><br/>
            some text to go here<br/>
            another link<br/>
        </div>
        <div class="column-left">
            <span class="heading">Static Text</span><br/>
            This is static<br/>
            content is the same across pages<br/>
            key links
        </div>
        <div class="column-right">
            <span class="heading">Placeholder text</span><br/>
            some text
        </div>
        <div class="clear-div"></div>
    </div>
{{/partial}}

{{# partial "disclaimer" }}
    <div class="center">
        <span class="heading">Legal And Site Information</span><br/>
        © Maersk Line A/S. All Rights Reserved
    </div>
{{/partial}}

{{# partial "scripts" }}
    <script type="text/javascript" src="http://localhost:7001/pageTemplate_war_exploded/resources/js/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://localhost:7001/pageTemplate_war_exploded/resources/js/lib/handlebars-v4.0.2.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.getJSON( "http://localhost:7001/pageTemplate_war_exploded/rest/menu/v1", function(data) {
                compileAndInjectContent("#menu-hbs", data, "#menu");
            });
        });

        function compileAndInjectContent(templateId, context, target){
            var source   = $(templateId).html();
            var template = Handlebars.compile(source);
            var html = template(context);
            $(target).append(html);
        }
    </script>
{{/partial}}

{{> ../core/core_template}}