<div class="center">
    <div class="column-left">Site Title</div>
    <div class="column-right login">{{#if user.name}}Welcome {{user.name}}{{else}}You are not logged in{{/if}}</div>
</div>
<div class="clear-div"></div>