<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Page Title</title>
        <link rel="stylesheet" type="text/css" href="http://localhost:7001/pageTemplate_war_exploded/resources/template/core/theme.css">
    </head>
    <body>
        <div id="header" class="header">
            {{#block "header" }}{{/block}}
        </div>
        <div id="menu" class="menu">
            {{#block "menu" }}{{/block}}
        </div>
        <div id="body"></div>
        <div id="footer">
            {{#block "footer" }}{{/block}}
        </div>
        <div id="disclaimer">
            {{#block "disclaimer"}}{{/block}}
        </div>
        <script type="text/javascript" src="http://localhost:7001/pageTemplate_war_exploded/resources/js/lib/jquery-1.9.1.min.js"></script>
        {{#block "scripts"}}{{/block}}
        <script type="text/javascript">
            $(document).ready(function() {
                $('#body_content').appendTo('#body');
            });
        </script>
    </body>
</html>