<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Page Title</title>
        <link rel="stylesheet" type="text/css" href="http://localhost:7001/pageTemplate_war_exploded/resources/template/core/theme.css">
    </head>
    <body>
        <div id="header" class="header">
            {{#block "header" }}
                This is the header
            {{/block}}
        </div>
        <div id="menu" class="menu">
            {{#block "menu" }}
                This is the menu
            {{/block}}
        </div>
        <div id="body">
            {{#block "body" }}
                This is the body
            {{/block}}
        </div>
        <div id="footer">
            {{#block "footer" }}
                This is the footer
            {{/block}}
        </div>
        <div id="disclaimer">
            {{#block "disclaimer"}}
                This is the disclaimer
            {{/block}}
        </div>
        <script type="text/javascript" src="../js/lib/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="../js/lib/handlebars-v4.0.2.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                //compileAndInjectContent("#head-template", context, "head");
            });

            function compileAndInjectContent(templateId, context, target){
                var source   = $(templateId).html();
                var template = Handlebars.compile(source);
                var html = template(context);
                $(target).append(html);
            }
        </script>
    </body>
</html>