<div class="center footer">
    <div class="column-center">
        <span class="heading">Maersk Group</span><br/>
        some text to go here<br/>
        another link<br/>
    </div>
    <div class="column-left">
        <span class="heading">Static Text</span><br/>
        This is static<br/>
        content is the same across pages<br/>
        key links
    </div>
    <div class="column-right">
        <span class="heading">Placeholder text</span><br/>
        some text
    </div>
    <div class="clear-div"></div>
</div>