<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Search Page</title>
        <link rel="stylesheet" type="text/css" href="../../resources/css/theme.css">
    </head>
    <body>
        <div id="page">
            <div id="header" class="header">
                <div class="center">
                    <div class="column-left">My Maersk Line</div>
                    <div class="column-right login">Welcome suhael</div>
                </div>
                <div class="clear-div"></div>
            </div>
            <div id="menu" class="menu">
                <div class="center">
                    <ul>
                        <li><a href="home.html">home</a></li>
                        <li>about</li>
                        <li>contact</li>
                        <li><a href="search.html">search</a></li>
                        <li><a href="edit.html">edit</a></li>
                    </ul>
                </div>
            </div>
            <div id="body">
                <div class="center">
                    This is the page body
                    <table>
                        <tr>
                            <td><label for="fieldA">search text</label></td>
                            <td><input type="text" name="fieldA" id="fieldA"><br/></td>
                        </tr>
                        <tr>
                            <td><label for="fieldB">another text</label></td>
                            <td><input type="text" name="fieldB" id="fieldB"><br/></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="footer">
                <div class="center footer">
                    <div class="column-center">
                        <span class="heading">Maersk Group</span><br/>
                        some text to go here<br/>
                        another link<br/>
                    </div>
                    <div class="column-left">
                        <span class="heading">Static Text</span><br/>
                        This is static<br/>
                        content is the same across pages<br/>
                        key links
                    </div>
                    <div class="column-right">
                        <span class="heading">User Info</span><br/>
                        some specific links<br/>
                        may go here<br/>
                        another link
                    </div>
                    <div class="clear-div"></div>
                </div>
            </div>
            <div id="disclaimer">
                <div class="center">
                    <span class="heading">Legal And Site Information</span><br/>
                    © Maersk Line A/S. All Rights Reserved
                </div>
            </div>
        </div>
    </body>
</html>