<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Search Page</title>
        <link rel="stylesheet" type="text/css" href="../../resources/css/theme.css">
    </head>
    <body>
        <div id="page">
            <div id="header" class="header">
                <div class="center">
                    <div class="column-left">My Maersk Line</div>
                    <div class="column-right login">You are not logged in</div>
                </div>
                <div class="clear-div"></div>
            </div>
            <div id="menu" class="menu">
                <div class="center">
                    <ul>
                        <li><a href="home.html">home</a></li>
                        <li>about</li>
                        <li>contact</li>
                        <li><a href="search.html">search</a></li>
                    </ul>
                </div>
            </div>
            <div id="body">
                <div class="center">
                    This is the page body
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non tempus risus.
                        In ut congue neque. Nullam nec condimentum lorem, non blandit orci. Nulla venenatis massa ac
                        quam lobortis, vitae fringilla quam molestie. Quisque volutpat turpis a lectus consectetur
                        placerat. Quisque egestas bibendum magna a cursus. Aenean rhoncus commodo lacus non consectetur.
                        Etiam id tellus vitae sem euismod sagittis. Donec nec pretium massa, ac fermentum mauris.
                        Suspendisse vel risus aliquam, molestie quam nec, gravida ex. Mauris urna nibh, tincidunt id
                        tincidunt eget, scelerisque eu elit. Praesent sed libero rhoncus, aliquet felis vel, egestas
                        urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Sed non diam at purus dignissim aliquet. Aliquam et scelerisque lacus, quis aliquet enim. Etiam
                        fermentum faucibus lacus, hendrerit facilisis tortor.</p>
                </div>
            </div>
            <div id="footer">
                <div class="center footer">
                    <div class="column-center">
                        <span class="heading">Maersk Group</span><br/>
                        some text to go here<br/>
                        another link<br/>
                    </div>
                    <div class="column-left">
                        <span class="heading">Static Text</span><br/>
                        This is static<br/>
                        content is the same across pages<br/>
                        key links
                    </div>
                    <div class="column-right">
                        <span class="heading">Placeholder text</span><br/>
                        some text
                    </div>
                    <div class="clear-div"></div>
                </div>
            </div>
            <div id="disclaimer">
                <div class="center">
                    <span class="heading">Legal And Site Information</span><br/>
                    © Maersk Line A/S. All Rights Reserved
                </div>
            </div>
        </div>
    </body>
</html>